streamlit
opencv-python-headless
numpy
pandas
torch
torchvision
ultralytics
scipy
Pillow
# --- ใหม่: สำหรับระบบ Login + Database ---
streamlit-authenticator==0.3.3
PyYAML
bcrypt



# --- ใหม่: Gender Detection ---
supabase
scikit-learn